<%- include('partials/header.ejs') %>
  <%- include('partials/hero.ejs') %>

    <div class="all-posts">
      <h3>All Posts</h3>
      <% if(posts.length) { %>
        <ul class="post-list">
          <% posts.forEach((post, i)=> { %>
            <li><a href="/<%=post.slug%>">
                <%=post.title%>
              </a>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
          <p>no post yet, create a post <a href="/create">here</a></p>
          <% } %>
    </div>

    <%- include('partials/footer.ejs') %>